body {
    margin: 0;
    font-family: Roboto Condensed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #FFFFFF;
  }
  
  * {
    box-sizing: border-box;
  }

  .page-container {
    padding: 40px;
  }
  