.character-comics {
  max-width: 1200px;
  margin: auto;

  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;
    margin: 20px 0;
    color: #000000;
  }

  .comics-list {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: red transparent;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: red;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    .comic-card {
      min-width: 150px;
      text-align: left;
      margin-right: 10px;

      img {
        width: 100%;
        height: auto;
        min-height: 268px;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
        text-align: left;
      }

      .comic-release-date {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.06px;
        text-align: left;
        
      }
    }
  }
}

.error-message {
  color: red;
  margin-top: 20px;
}
