.characterCard {
  overflow: hidden;
  .imgContainer {
    position: relative;
    .characterImage {
      width: 100%;
      height: 200px;
      cursor: pointer;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 6px;
      background: var(--Marvel-red, #EC1D24);
    }
  }
  
  .cardFooter {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    background-color:#000000;
    .characterName {
      margin: 0;
      font-size: 1.2em;
      color: white;
    }
  }
}
