.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;

  .header-left {
    .home-button {
      cursor: pointer;
    }
  }

  .header-right {
    > div {
      display: flex;
      gap: 10px;
      color: white;
      .favorites-button {
        cursor: pointer;
      }
    }
  }
}
