.character-detail {  
    .character-header-container{
      display: flex;
      background-color: black; // Fondo negro
      .character-header {
          max-width: 1200px;
          
        .character-image {
        width: 320px; // Tamaño de la imagen
        height: 320px;
        margin-right: 20px; // Espacio a la derecha
      }
  
      .character-info {
        flex: 1; // Para que ocupe el espacio restante
        color: white; // Texto blanco
  
        .header-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          
          .character-name {
            font-size: 24px;
            margin: 0;
            margin-right: 10px; // Espacio entre el nombre y el botón
          }
        }
  
        .character-description {
          margin: 10px 0; // Espaciado para la descripción
        }

      }

      }
    }
  
    .character-comics {
        max-width: 1200px;
        margin: auto;
      h2 {
        font-size: 20px;
        margin: 20px 0; // Espacio superior e inferior
      }
  
      .comics-list {
        display: flex; // Flex para alinear en fila
        overflow-x: auto; // Permitir desplazamiento horizontal
        scrollbar-width: thin; // Para navegadores compatibles
        scrollbar-color: red transparent; // Color rojo para la barra de desplazamiento
  
        &::-webkit-scrollbar {
          height: 8px; // Altura de la barra de desplazamiento
        }
  
        &::-webkit-scrollbar-thumb {
          background-color: red; // Color de la barra de desplazamiento
          border-radius: 4px; // Bordes redondeados
        }
  
        &::-webkit-scrollbar-track {
          background: transparent; // Fondo de la pista
        }
  
        .comic-card {
          min-width: 150px; // Ancho mínimo de las tarjetas
          text-align: center; // Texto centrado
  
          img {
            width: 100%; // Imagen ocupa el 100% de su contenedor
            height: auto;
            border-radius: 5px; // Bordes redondeados
          }
  
          p {
            font-size: 14px; // Tamaño de la fuente del título
            margin-top: 5px; // Espacio superior
          }
        }
      }
    }
  
    .error-message {
      color: red; // Color para el mensaje de error
      margin-top: 20px; // Espaciado superior
    }
  }
  